# Ignore Mac Finder droppings
.DS_Store
# Ignore VIM droppings
*.swp
# Generated release artifacts
/assets
/readme.txt
# Development environment files that don't need to be in the repository
/markdownlint.json
/.vscode
/vendor
/composer.lock